<h1><%= @shelter.name %></h1>
<h4>Location: <%= @shelter.location%> </h4>
<%= video_tag "puppylove.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, playsinline: :playsinline, class: "home_video" %>
<br>

<h2>All Pets</h2>
<% @shelter.pets.each do |pet| %>
<h3>Name: <%= link_to pet.name, pet %><br>
Breed: <%= pet.breed %> <br>
</h3>
<br>
<% end %></p>

<button><%= link_to  "See All #{@shelter.location} Shelters", "/#{@shelter.location}" %></button>
<button><%= link_to  "View All Affiliated Shelters", shelters_path %></button>

