<h1> WELCOME TO "PUPPY LOVE 🐶" </h1>
<h2> Sign up </h2>
<%= video_tag "singledog.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, playsinline: :playsinline, class: "home_video" %>
<%= form_for @user do |f| %>
<h3><%= f.label :name, "Name:" %></h3>
<%= f.text_field :name %>

<h3><%= f.label :location, "Location:" %></h3>
<%= f.select :location, Shelter.uniq_locations %> <br>

<h3><%= f.label :password %></h3>
<%= f.password_field :password %>

<%= f.submit %>
<% end %>
